
.divh1{
    text-align: center;
}

.tabldiv{
    max-width: 732.8px;
}

table{
    width: 100%;
}

thead{
    background-color: red;;
}

tbody{
    background-color: aqua;
}

tr{
    width: 100%;
}


.divh2swch{
    text-align: center;
}

.video1{
    width: 1500px;
    height: 650px;
}



